<!doctype html>
<html lang="en">
  <head>
    <!-- <div hx-trigger="every 200ms" hx-get="/get-dead" hx-swap="innerHTML"></div> -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <img src="/local/pipe.png" style="visibility: hidden" />
    <title></title>
    <style>
      .pipe {
        position: fixed;
        width: calc(255px * 0.25);
        height: calc(135px * 0.25);
        //transition: all 200ms linear;
      }
      .flipped {
        //transform: scaleY(-1);
      }
      .seg-image {
        position: fixed;
        background-image: url("/local/pipe-seg.png");
        background-repeat: repeat-y;
        //transition: all 200ms linear;
      }
    </style>
  </head>
  <body>
    {{ range .Pipes }}

    <div class="seg-image seg_{{.ID}}_top"></div>
    <img class="pipe {{.ID}}_top" src="/local/pipe-top.png" />
    <img class="pipe {{.ID}}_bottom" src="/local/pipe-top.png" />
    <div class="seg-image seg_{{.ID}}_bottom"></div>
    <!--
    <div class="bbox-bottom-{{.ID}}"></div>
    <div class="bbox-top-{{.ID}}"></div>
    -->
    <img
      hx-trigger="keyup[key=='j'] from:body"
      hx-put="/jump-player"
      class="player"
      src="/local/bird.png"
    />

    {{end}}

    <!-- <div hx-trigger="every {{.PollRate}}" hx-put="/tick"></div>-->
    <span
      hx-trigger="every {{.PollRate}}"
      hx-get="/get-screen"
      hx-swap="innerHTML"
    ></span>
  </body>
</html>
